body {
    font-weight: 300;
    background-image: linear-gradient(79.8deg, rgb(21, 21, 21) 12.76%, rgb(27, 27, 28) 40.99%, rgb(38, 39, 41) 94.64%);
    /*color: white;*/
    padding-top: calc(114vw / 19.2);
}

h1{
    font-size: calc(1.375rem + 1.5vw);
    color: white;
    line-height: 1.5;
    font-weight: inherit;
}
.logo {
    width: calc(385vw / 19.2);
    height: calc(114vw / 19.2);
    background: url(../img/logo.png) center center no-repeat;
    background-size: contain;
    filter: brightness(0) saturate(100%) invert(82%) sepia(69%) saturate(5569%) hue-rotate(350deg) brightness(99%) contrast(104%);
}

.form-label{
    color: white;
    padding-top: calc(0.375rem + var(--bs-border-width));
    padding-bottom: calc(0.375rem + var(--bs-border-width));
    margin-bottom: 0;
    /*font-size: calc(1.15rem + 0.1vw);*/
}


/*standart styles*/

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.page-link.active, .active > .page-link {
    z-index: 3;
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
}

a {
    color: #ffc107;
    text-decoration: underline;
}

.summary{
    color: white;
}

tbody tr{
    cursor: pointer;
}

.role-input{
    font-size: 15px;
}

